body {
  margin: 0;
  /* REMOVIDO: font-family para ser gerenciado por GlobalStyle.js para evitar conflitos e usar o mesmo stack */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Adicionando rolagem suave */
html {
  scroll-behavior: smooth;
}